#### Q1 Create one variable containing following type of data:

(1) String

In [ ]:
name = "Vrij raj singh gaur"

(2) List

In [ ]:
l = [2, 5, "Raj", 35.42, True]

(3) Float

In [ ]:
b = 35.42

(4) Tuple

In [ ]:
my_tuple = (34, 40, 35.42, "Raj", True)

#### Q2 Given are some following variables containing data:

(1) String

(2) String

(3) String

(4) Integer

#### Q3 Explain the use of the following operators using an example;

(1) Division Operator /

In [1]:
5/2

2.5

(2) Modulus operator %

In [2]:
5%2

1

(3) Floor Division //

In [3]:
5//2

2

(4) Exponent Operator

In [4]:
3**3

27

#### Q4 Create a list of length 10 of your choice containing multiple types of data. Using For Loop print the element and its data type.

In [1]:
l = [2,3,4,5,"raj","pwskills", 32.45, True, False, 4.5]

In [2]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'float'>

#### Q5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [6]:
A = 100  # The number to be divided
B = 5    # The divisor

count = 0  # Initialize the count

while A % B == 0:
    A = A // B  # Divide A by B
    count += 1  # Increment the count

print("Number A is divisible by B", count, "times.")

Number A is divisible by B 2 times.

#### Q7 What do you understand about mutable and immutable data type? Give example for both showing this property.

1. Mutable Example

In [1]:
l = [2,3,4,5,"raj","pwskills", 32.45, True, False, 4.5]

In [2]:
l[4] = "singh"

In [3]:
l

[2, 3, 4, 5, 'singh', 'pwskills', 32.45, True, False, 4.5]

2. Immutable Example

In [4]:
name = "Sudhansu"

In [5]:
name[3] = a

NameError: name 'a' is not defined